.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    padding: 22px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
  }
  .nav__list {
    display: flex;
    justify-content: space-between;
  }
  .nav__link {
    position: relative;
    color: #2e363e;
  }
  
  
  .nav__notification {
    position: absolute;
    left: 16px;
    bottom: 16px;
  }
  

  