.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    margin-top:26px;
  }
  
  .screen-header__title {
    font-size: 32px;
    font-weight: 600;
  }
  
  .screen-header__icons span {
    margin-left: 25px;
  }
  
  @media screen and (max-width: 768px) { 
    body { 
      background-color: lightyellow; 
    } 
  }
