@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variable.css";


@import "component/status-bar.css";
@import "component/screen-header.css";
@import "component/nav-bar.css";
@import "component/user-component.css";
@import "component/alt-screen-header.css";
@import "component/badge.css";

@import "screen/login.css";
@import "screen/friend.css";
@import "screen/chat.css";
@import "screen/more.css";
@import "screen/setting.css";

body {
    color: #2e363e;
    font-family: "Open Sans", sans-serif;
}

.main-screen {
    padding: 0px var(--horizontal-space);
}